{:tasks
 {dev  {:doc "개발 서버 시작"
        :task (shell "clj -M:dev")}

  run  {:doc "프로덕션 서버 시작"
        :task (shell "clj -M:run")}

  repl {:doc "nREPL 시작 (CIDER)"
        :task (shell "clj -M:dev")}}}
