{:tasks
 {dev  {:doc "Start dev server"
        :task (shell "clj -M:dev")}

  run  {:doc "Start production server"
        :task (shell "clj -M:run")}

  repl {:doc "Start nREPL (CIDER)"
        :task (shell "clj -M:dev")}}}
