{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure             {:mvn/version "1.12.0"}

  ;; HTTP server
  http-kit/http-kit               {:mvn/version "2.8.0"}
  ring/ring-core                  {:mvn/version "1.13.0"}
  ring/ring-defaults              {:mvn/version "0.5.0"}

  ;; HTML rendering
  hiccup/hiccup                   {:mvn/version "2.0.0-RC4"}

  ;; Routing
  metosin/reitit                  {:mvn/version "0.7.2"}

  ;; JSON
  metosin/jsonista                {:mvn/version "0.3.11"}

  ;; SQLite (lifetract, health data)
  org.xerial/sqlite-jdbc          {:mvn/version "3.47.2.0"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.955"}

  ;; Logging
  org.slf4j/slf4j-nop             {:mvn/version "2.0.16"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {nrepl/nrepl {:mvn/version "1.3.0"}
                cider/cider-nrepl {:mvn/version "0.50.2"}}
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware]"]}

  :run
  {:main-opts ["-m" "geworfen.core"]}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.7"}}
   :ns-default build}}}
